<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/studentproject?useSSL=false</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">anhtuan123</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <mapping class="com.thuanthanh.StudentProject.Entity.Student"></mapping>
    <mapping class="com.thuanthanh.StudentProject.Entity.Point"></mapping>
    <mapping class="com.thuanthanh.StudentProject.Entity.Subject"></mapping>
    <mapping class="com.thuanthanh.StudentProject.Entity.Class"></mapping>
    <mapping class="com.thuanthanh.StudentProject.Entity.Teacher"></mapping>
    <mapping class="com.thuanthanh.StudentProject.Entity.Department"></mapping>

  </session-factory>
</hibernate-configuration>